.navbar {
    width: 100%;
    height: 70px;
    background-color: rgb(70, 70, 70);
    margin-top: -80px;
}

.login {
    position: absolute;
    margin-left: 450px;
    margin-top: -55px;
    background-color: aliceblue;
    text-decoration: none;
    font-size: 16px;
    padding: 3px;
    border-radius: 4px;
    color: black;
}
.signIn {
    position: absolute;
    margin-left: 500px;
    margin-top: -55px;
    background-color: aliceblue;
    text-decoration: none;
    font-size: 16px;
    padding: 3px;
    border-radius: 4px;
    color: black;
}

.banner {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    justify-content: center;
    font-size: 25px;
}

.header {
    margin-top: 90px;
}

.heading-1 {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width:1024px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.dashboard {
    justify-content: center;
    display: flex;
    grid-template-columns: 1fr;
    grid-gap: 32px;
}

.movies-list{
    display: flex;
    flex-direction: row;
    grid-gap: 12px;
}

.movies{
    width: 180px;
    height: 300px;
    display: grid;
    text-align: center;
    border-color: rgb(199, 199, 199);
    border-style: ridge;
    border-radius: 10px;
}

.movies-details > img{
    margin-top: 10px;
    width: 151px;
    height: 220px;
    border-radius: 3%;
}

.movieName {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 15px;
    margin-top: 5px;
}

.discription {
    font-family: Arial;
    text-align: left;
    margin-left: 15px;
    margin-top: -5px;
    font-size: 14px;
}
