.navbar {
    width: 100%;
    height: 50px;
    background-color: rgb(99, 99, 99);
    margin-top: -32px;
}

.banner {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    justify-content: center;
    font-size: 25px;
}

.container {
    width:100%;
    height: 500px;
}

.movie {
    width: 100%;
}

.image {
    width: 300px;
    margin-top: 30px;
    border-radius: 10px;
}

.movieName {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: left;
    margin-left: 350px;
    margin-top: -420px;
}

.discription {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 350px;
    font-size: 18px;
    margin-top: -15px;
}

.duration { 
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 350px;
    font-size: 18px;
    margin-top: 5px;
}

.summery {
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 350px;
    font-size: 17px;
}


.time{
    margin-top: -35px;
    margin-left: 100px;
}

/* .screen-1 {
    width: 400px;
    height: 30px;
    border-color: rgb(255, 180, 180);
    border-style: ridge;
    border-radius: 5px;
    margin-left: 350px;

}

.screen-1 > p {
    position: relative;
    top: -10px;
    left: 20px;
} */

/* .screen-1 {
    margin-left: 350px;
} */

#container2 {
    width: auto;
    height: 150px;
}

.screening-list {
    display: flex;
    flex-direction: column;
    grid-gap: 12px;
    padding-bottom: 150px;
    width: auto;
    height: 150px;
}

.screenings {
    display: flex;
    flex-direction: column;
    margin-left: 350px;
    border: 1px;
    border-color: rgb(156, 156, 156);
    border-style: ridge;
    border-radius: 5px;
    width: 510px;
}

.screenings > time {
    position: absolute;
    margin-top: 50px;
    margin-left: 100px;
}

.screenNumber {
    margin-left: 15px;
}

.bookLink {
    width: 80px;
    padding: 5px;
    text-align: center;
    margin-left: 405px;
    position: absolute;
    margin-top: 9px;
    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 3px;
    background-color: rgb(255, 177, 177);
    text-decoration: none;
    color: black;
}

.bookLink:hover {
    background-color: rgb(255, 114, 133);
}