#screen{
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 55px;
    height: 12px;
    border: 1px solid gray;
}

#container {
    margin: auto;
    width: 750px;
    height: 400px;
    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 3px;
    justify-content: center;
}

#root{
    width: auto;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    grid-gap: 12px;
}
.seat{
    margin-top: 20px;
    width: 24px;
    height: 24px;
    border: 1px solid gray;
    border-radius: 3px;
}
.seat:hover{
    background-color: yellow;
}
.booked{
    background-color: rgb(241, 125, 125);
}
.selected{
    background-color: rgb(118, 255, 91);
}
.book-button{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}
