.header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    margin: 0% auto;
    height: 100%;
    width: 400px;
    padding: 24px;
    box-sizing: border-box;
    border-style: solid;
    border-color: rgb(196, 196, 196);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.form-field > input {
    padding: 12px;
    margin-bottom: 12px;
    border: 3px solid rgb(204, 204, 204);
}

.form-field >  input:focus {
    border: 1px solid rgb(182, 182, 182);
    border-bottom: 2px solid rgb(121, 152, 221);
    outline: none;
}

.button-holder{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#button {
    background-color: rgb(95, 164, 255);
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

#button:hover{
    background-color: rgb(121, 152, 221);
    color: aliceblue;
}