@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width:1024px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.dashboard{
    justify-content: center;
    display: flex;
    grid-template-columns: 1fr;
    grid-gap: 32px;
}

header{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.tickets-list{
    display: flex;
    flex-direction: column;
    grid-gap: 12px;
}

.tickets{
    height: 210px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1.4rem;
    text-align: center;
    border-color: rgb(199, 199, 199);
    border-style: ridge;
    border-radius: 5px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.ticket-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align:left
}
.qr{
    width: 100%;
}

.remove-button {
    width: 100px;
    border-radius: 5px;
    background-color: rgb(138, 139, 139);
    font-size: 12px;
    padding: 0.5rem 0;
}

.remove-button:hover{
    background-color: aquamarine;
}